.about-us {
    padding-top: 35px;
    padding-bottom: 94px;
    margin-bottom: 106px;


    background-image: url('../images/ellipse-2.svg'), url('../images/sara.png'), url('../images/mark.png'), url('../images/lucy.png'), url('../images/john.png'), url('../images/frank.png'), url('../images/philip.png'), url('../images/roger.png');
    background-repeat: no-repeat;
    background-size: 242px 242px, 100px 100px, 150px 150px, 110px 110px, 135px 135px, 125px 125px, 145px 145px, 135px 135px;
    background-position: right 33% top 100%, left 22% top 35%, left 25% top 62%, left 13% top 52%, left 14% top 83%,right 27% top 62%, right 16% top 35%,right 18% top 88%;


    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }

    &__title {
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        color: #2C2C2C;
        width: 710px;
        margin-bottom: 100px;
    }

    &__wrapper {
        padding-top: 70px;
        background-image: linear-gradient(to top, #fff 0% 98%, #FF715B 98% 100%);
        box-shadow: 0px 20px 30px rgba(227, 202, 202, 0.3);
        width: 690px;
        height: 513px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // &__wrapper::before{
    //     content: "";
    //     width: 242px;
    //     height: 242px;
    //     display: inline-block;

    //     background-image: url('../images/ellipse-2.svg');
    //     background-repeat: no-repeat;
    //     background-size: 242px 242px;
    //     background-position: right 50%;
    // }

    &__box {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        &-name {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 33px;
            color: #000000;
            margin-bottom: 12px;
        }

        &-job {
            font-family: 'Product Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #FF715B;
        }
    }

    &__box::before {
        content: "";
        width: 80px;
        height: 80px;
        display: inline-block;

        background-image: url('../images/shamim.png');
        background-repeat: no-repeat;
        background-size: 80px 80px;
        margin-right: 20px;
    }

    &__text {
        font-family: 'Product Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #A79997;
        width: 570px;
        margin-bottom: 50px;
    }

    &__box-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.circle {
    width: 10px;
    height: 10px;
    background: #C4C4C4;
    border-radius: 50%;
    border: none;
    margin-right: 19px;
}

.active {
    margin-right: 0;
    background-color: #FF715B;
    transform: translateY(-7px);
}

.button-box {
    padding: 4px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #FF715B;
    margin-right: 20px;
}