.intro {
    padding-top: 55px;
    padding-bottom: 79px;
    background-image: url('../images/square.svg'), url('../images/pattern.svg'), url('../images/Ellipse.svg');
    background-repeat: no-repeat;
    background-size: 142px 142px, 170px 172px, 54px 54px;
    background-position: left 43% top, left 17% bottom 1%, left 13% center;
    margin-bottom: 60px;

    & .container {
        display: flex;
        align-items: center;
        justify-content: center;


    }

    &__link-img {
        background-image: url('../images/square.svg');
        background-repeat: no-repeat;
        background-size: 142px 142px;
        background-position: right top;
    }

    &__wrapper {
        margin-left: 150px;
    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 65px;
        color: #2C2C2C;
        width: 690px;
        margin-bottom: 82px;
    }

    &__list {
        &--title {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
            color: #000000;
        }

        &--text {
            font-family: 'Product Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            color: #A79997;
            width: 600px;
            margin-top: 25px;
            margin-bottom: 50px;
            margin-left: 90px;
        }

        &--line {
            width: 600px;
            height: 1px;
            background: #F1E0DD;
            border: none;
            margin-bottom: 52px;
            margin-left: 90px;
        }

        &--box {
            display: flex;
            align-items: center;
        }

        &--box::before {
            content: "";
            width: 50px;
            height: 50px;
            display: inline-block;
            background: #EDFAE3;
            border-radius: 10px;

            background-image: url('../images/round.svg');
            background-repeat: no-repeat;
            background-size: 25px 25px;
            background-position: center;
        }
    }
}

.provide {
    margin-bottom: 62px;
}

.travel::before {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    background: #FF715B;
    box-shadow: 0px 10px 15px rgba(255, 113, 91, 0.25);
    border-radius: 10px;

    background-image: url('../images/user.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
    margin-right: 40px;
}

.provide::before {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    background: #EDFAE3;
    border-radius: 10px;

    background-image: url('../images/round.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
    margin-right: 40px;
}

.customers::before {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    background: #FFF8E3;
    border-radius: 10px;

    background-image: url('../images/earphone.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
    margin-right: 40px;
}